<div class="card mt-5 mx-auto"
    style="padding: 2em; max-width: 37.5em; background: linear-gradient(to right, #e2e2e2, #c9d6ff);">
    <form #productForm="ngForm" (ngSubmit)="submit(productForm)">
        <div class="form-group mt-3">
            <label for="name"><b>Customer Name:</b></label>
            <input type="text" required #name ngModel name="name" class="form-control" placeholder="Name" />
        </div>
        <div class="form-group mt-3">
            <label for="brand"><b>Email:</b></label>
            <input type="email" required #brand ngModel name="email" class="form-control" placeholder="Email" />
        </div>
        <div class="form-group mt-3">
            <label for="price"><b>Phone no:</b></label>
            <input type="tel" required #price ngModel name="phoneNumber" class="form-control" placeholder="Phone no" />
        </div>
        <div class="form-group mt-3 text-center">
            <input type="submit" value="Add" class="btn btn-primary" [disabled]="!productForm.form.valid" />
        </div>
        <button class="btn btn-primary mt-3 d-block mx-auto" (click)="view()">View Data</button>
    </form>

    
     
        


    <div class="alert alert-danger mt-3" id="errorAlert" style="display: none;">
        Please fill all the required fields properly.
    </div>
</div>