<nav class="navbar navbar-expand-lg navbar-light" style="background: linear-gradient(to right, #e2e2e2, #c9d6ff);">
    <div class="container mt-5">
        <div class="card w-50 mx-auto login-card">
            <h1 class="card-header text-center">Customer Dashboard</h1>
            <div class="card-body">
                <div class="text-center">
                    <button class="btn btn-primary btn-custom"background-color: #512da8;  (click)="Add()">Add Customer</button>
                    <br><br>
                    <button class="btn btn-primary btn-custom" background-color: #512da8; (click)="View()">View Customers</button>
                </div>
            </div>
        </div>
    </div>
</nav>